body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mensagens h2 {
    margin-top: 0;
    background: aqua;
}

#lista-mensagens {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista-mensagens li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#formulario h2 {
    margin-top: 0;
}

#formulario form {
    display: flex;
    flex-direction: column;
}

#formulario label {
    margin-bottom: 5px;
}

#formulario input, #formulario textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
